:root {
    --bgColor: #F9F9F9;
    --accentColor: #EDEDED;
    --textColor1: rgb(22, 22, 22);
    --textColor2: rgb(73, 73, 73);
    --textColor3: rgb(231, 231, 231);

    --headingFont: 'Open Sans', 'Helvetica Neue', sans-serif;
    --paragraphFont: 'Montserrat', sans-serif;;
}

body {
    background-color: var(--bgColor);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 350px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headingFont);
    color: var(--textColor1);
    font-weight: normal;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 1.7rem;
}

p,
a,
li {
    font-family: var(--paragraphFont);
    color: var(--textColor1);
}

a {
    text-decoration: none;
}

.max-width {
    margin: 10px;
}

#left-aligned {
    text-align: left;
}

/* Media */

.image-style {
    width: 100%;
}

figure {
    margin: 0;
}

.blogPost img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.about-me__picture,
.contact__picture {
    border-radius: 50%;
    width: 70%;
    display: block;
    margin: 40px auto;
}


/* Header */

/* Navigation */

.top__nav {
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}


#header-shadow {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, .6));
    transition: all .5s;
}

.header-shadow__scroll {
    background: rgba(0, 0, 0, .75);
    transition: all .5s;
}

.top__nav ul {
    padding: 0;
    margin: 150px 0 100px;
    text-align: center;
}

.top__nav a {
    color: var(--textColor3);
    padding: 10px;
}

.top__nav li {
    list-style-type: none;
    margin: 40px 10px;
    font-size: 1.3rem;
    position: relative;
}

#logo {
    width: 9rem;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 10px;
}

#menu-icon {
    position: absolute;
    width: 2rem;
    right: 12px;
    top: 40px;
}

#menu-icon__close {
    position: absolute;
    width: 3rem;
    right: 5;
    top: 25px;
    display: none;
    z-index: 2;
}


/* Breadcrumbs */

.breadcrumbs {
    padding: 0;
    font-size: 0.8em;
}

li.trail{
    display: inline-block;
    color: var(--textColor1);
}

li.trail a::after {
    display: inline-block;
    content: "|";
    font-weight: normal;
    padding: 0 1px 0 7px;
}


/* Hero */

header {
    height: 90vh;
    background-size: cover;
    position: relative;
}

#hero__index {
    background-image: url(../media/index-hero-small.jpg);
    background-position: bottom;
}

#hero__blog {
    background-image: url(../media/blog-hero-small.jpg);
}

#hero__about-me {
    background-image: url(../media/about-me-hero-small.jpg);
}

#hero__contact {
    background-image: url(../media/contact-hero-small.jpg);
    background-position: bottom;
}

#hero__blog-post {
    background-position: center;
    height: 60vh;
}

.hero__text {
    position: absolute;
    right: 50%;
    bottom: 35%;
    transform: translate(50%, -50%);
    height: 2.2rem;
    min-width: 20rem;
}

#hero__contact .hero__text {
    bottom: 20%;
}

/* Index og Blogg*/

.API-output {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

.API-output img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.API-output p {
    font-size: .8rem;
    margin: 10px;
}

.API-output h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Index */

.carousel-button {
    display: none;
}

.about-me-ad {
    background-image: url(../media/about-me-ad-small.jpg);
    background-size: cover;
    background-position: right;
    height: 25rem;
    margin-top: 100px;
}

.about-me-ad__content{
    position: relative;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 67%;
    font-size: 1.3rem;
}

.highlight {
    background-color: rgba(242, 229, 0, .8);
    line-height: 1.9rem;
    font-family: var(--headingFont);
}

.about-me-ad__content img {
    transform: rotate(-2deg);
    position: relative;
    left: -5px;
}

/* Blogg */

.load-more__btn {
    display: block;
    margin: 30px auto;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.load-more__btn:hover {
    background-color: var(--accentColor);
}

/* Kontakt */

.contact-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
}

.contact__picture {
    max-width: 400px;
}

input[type=text],
textarea {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-family: var(--paragraphFont);
}

textarea {
    height: 200px;
    resize: none;
}

input[type=submit] {
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 1.1rem;
    background-color: rgb(103, 103, 103);
    color: white;
    border: none;
    border-radius: 4px;
}

/* Blogpost */

.blogPost h1 {
    margin-bottom: 0;
}

.blogpost h2,
.blogpost h3,
.blogpost h4 {
    font-weight: bold;
}

#blogContent {
    margin-top: 50px;
}

.blogPost ul,
.blogpost ol {
    padding: 0 20px;
    line-height: 1.5rem;
}

/* Footer */

footer {
    background-color: var(--accentColor);
    padding: 40px 0;
    margin-top: 40px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer li {
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
}
